@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300;400;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* FONTS */
html {
  --font: "Overpass Mono", monospace;
  --font-x: "Courier Prime", monospace;
}
* {
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-x);
}

/* COLORS */
html {
  --clr-white: #e0e0e0;
  --clr-black: #1f2020;
  --clr-1: #b3d300;

  --clr-bg: #000;
  --clr-txt: var(--clr-white);
}

body {
  background: var(--clr-bg);
}

*,
*::before,
*::after {
  color: var(--clr-white);
}

/* SIZE */
html {
  --size-sides-s: 20px;
  --size-sides-l: 100px;

  --size-sides: var(--size-sides-s);
}
@media (min-width: 1200px) {
  html {
    --size-sides: var(--size-sides-l);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5em;
}

/* DEFAULTS */
button {
  background: none;
  border: none;
  font-size: inherit;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;

  padding: 10px 20px;

  box-shadow: 0 0 0 1px var(--clr-txt);
  transition: transform 0.1s linear;

  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(1);
}
button:focus {
  outline-color: var(--clr-1);
}

/* UTILITY */
